In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'Hello' == 'bye'

False

In [5]:
'Bye' == 'bye'

False

In [6]:
2.0 == 2

True

In [8]:
3 != 3

False

#Logical Operators AND OR

In [11]:
1<2>3

False

In [13]:
1<2 and  2<3

True

In [14]:
1==1 or 2==2

True

In [15]:
1==1 or 2==3

True

In [16]:
not 1 == 1

False

# Control Flow Statements or Loops

In [17]:
hungry = False
if hungry:
    print('Feed Me!!')
else:
    print("Not Hungry")

Not Hungry

In [19]:
loc ='Bank'
if loc =='Auto Shop':
    print('Cars are cool!!')
elif loc == 'Bank':
    print('Money is Cool!!')
else:
    print('I don\'t know much')

Money is Cool!!

# FOR LOOP

In [20]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [21]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [24]:
for num in mylist:
    #Check for even
    if num % 2 ==0:
        print(num)
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [25]:
list_sum=0
for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [26]:
list_sum=0
for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [27]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [31]:
for _ in 'Hello World':
    print(_)

H
e
l
l
o

W
o
r
l
d

In [33]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [34]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [36]:
#Tuple Unpacking:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [37]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [39]:
for a,b,c in mylist:
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
7
8
9

In [40]:
d = {'k1':1,'k2':2,'k3':3}
#Dict Unpacking:
for key,value in d.items():
    print(value)

1
2
3

In [41]:
for value in d.values():
    print(value)

1
2
3

In [53]:
for key in d.keys():
    print(d[key])

1
2
3

# WHILE LOOP

In [68]:
x= 1

while x< 5:
    print(f'Current value of x is {x}')
     x+=1
else:
    print('else loop')

IndentationError: unexpected indent (<ipython-input-68-93a49e556ca7>, line 5)

In [47]:
print('hello')

hello

In [56]:
x= [1,2,3]
for item in x:
    #comment 
    pass
print('end of my script')

end of my script

Break:Breaks out of the Current Closest enclosing loop.
Continue:Goes to the top of the closest enclosing loop.
Pass: Does nothing at all.

In [58]:
str ='surekha'
for letter in str:
    break;
else: 
    continue;

SyntaxError: 'continue' not properly in loop (<ipython-input-58-45957b434ed9>, line 8)

# Useful Operators in Python:

In [64]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [65]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

# #ENUMERATE:

In [66]:
index_count = 0
word='abcde'

for letter in word:
    print('At Index{} the letter is {}'.format(index_count,letter))
    index_count+=1

At Index0 the letter is a
At Index1 the letter is b
At Index2 the letter is c
At Index3 the letter is d
At Index4 the letter is e

In [69]:
index_count = 0
word='abcde'

for letter in word:
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [71]:
word='abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

# ZIP FUNCTION

In [73]:
list1 = [1,2,3]

list2 = ['a','b','c']

list3 = [100,200,300]

for item in zip(list1,list2,list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [76]:
list(zip(list1,list2,list3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

# IN OPERATOR

In [77]:
'x' in [1,2,3]

False

In [78]:
'x' in ['x','y','z']

True

In [79]:
'mykey' in {'mykey': 345}

True

In [80]:
d= {'mykey': 345}

345 in d.values()

True

In [81]:
345 in d.keys()

False

In [83]:
mylis= [10,20,30,40,50]
mini = min(mylis)
print(mini)
maxi=max(mylis)
print(maxi)

10
50

In [85]:
from random import shuffle

In [87]:
mylist = [1,2,3,4,5,6,7,8,9,10]
random_list = shuffle(mylist)

In [88]:
type(random_list)

NoneType

In [89]:
mylist

[6, 7, 10, 5, 4, 1, 3, 2, 9, 8]

In [90]:
from random import randint
randint(0,100)

74

In [91]:
randint(0,100)

25

In [92]:
randint(0,100)

96

# Taking User Input

In [93]:
result = input('Favourite Number')

Favourite Number25.2

In [94]:
type(result)

str

In [95]:
float(result)

25.2

In [96]:
type(result)

str

In [97]:
result

'25.2'

In [99]:
float(result)

25.2

# List Comprehensions

In [100]:
mystring = 'hello'

In [101]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [102]:
mylist

['h', 'e', 'l', 'l', 'o']

In [103]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [104]:
mylist=[x for x in 'WORD']

In [105]:
mylist

['W', 'O', 'R', 'D']

In [106]:
mylist = [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [107]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [108]:
mylist = [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [109]:
celsius = [0,10,20,34.5]

farenheit = [((9/5)*temp +32) for temp in celsius]

In [110]:
farenheit

[32.0, 50.0, 68.0, 94.1]

In [113]:
farenheit = []

for temp in celsius:
    farenheit.append(((9/5)*temp +32))
    farenheit

In [114]:
farenheit

[32.0, 50.0, 68.0, 94.1]

## IF ELSE IN LIST

In [115]:
results = [ x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [123]:
mylist= []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [124]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [125]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [126]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

## SCOPE LEGB RULE(LOCAL, ENCLOSING,GLOBAL,BUILT-IN)

In [127]:
lambda num : num **2

In [133]:
name = 'This is a GLOBAL String'
def greet():
    name = 'Smile'
    
    def hello():
        print('Hello '+name)
        
    hello()

In [134]:
greet()

Hello Smile

In [141]:
name = 'This is a GLOBAL String'
def greet():
    #name = 'Smile'
    
    def hello():
        print('Hello '+name)
        
    hello()

In [142]:
greet()

Hello This is a GLOBAL String

In [144]:
x=25
def printer():
    x= 50
    return x

In [145]:
print(x)

25

In [146]:
printer()

50

In [149]:
x= 25

def myfunc():
    global x
    print(f'X is {x}')
    #Local Re-assignment on a global Variable!!
    x='New Value'
    print(f'I just Locally changed Global X to {x}')
    return x