## LESSER OF TWO EVENS:

In [8]:
def lesser_of_two_evens(a,b):
    if(a%2==0 and b%2==0):
        return min(a,b)
    else:
        return max(a,b)

In [11]:
    # Check
lesser_of_two_evens(2,4)

2

In [12]:
# Check
lesser_of_two_evens(2,5)

5

## ANIMAL CRACKER

In [21]:
def animal_crackers(text):
    textsplit= text.split()
    return textsplit[0][0]==textsplit[1][0]

In [22]:
animal_crackers('Levelheaded Llama')

True

In [23]:
animal_crackers('Crazy Kangaroo')

False

## MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [24]:
def makes_twenty(n1,n2):
    if(n1==20 or n2==20 and n1+n2==20):
        return True
    else:
        return False

In [25]:
makes_twenty(20,10)

True

In [26]:
makes_twenty(2,3)

False

## LEVEL 1 PROBLEMS
OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [29]:
def old_macdonald(name):
    return name.capitalize()

In [30]:
old_macdonald('macdonald')

'Macdonald'

## 
MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [67]:
def master_yoda(text):
    stext=text.split()
    stext.reverse()
    return ' '.join(stext)

In [68]:
master_yoda('I am home')

'home am I'

In [69]:
master_yoda('We are ready')

'ready are We'

## 
ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [70]:
def almost_there(n):
    return abs(100-n)<=10 or abs(200-n)<=10

In [71]:
almost_there(104)

True

In [72]:
almost_there(150)

False

In [73]:
almost_there(209)

True

## LEVEL 2 PROBLEMS
FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False##

In [106]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]== nums[i+1]==3:
            return True
    return False

In [107]:
has_33([1, 3, 3])

True

In [108]:
has_33([1, 3, 1, 3])

False

In [109]:
has_33([1, 1, 3,1])

False

In [110]:
has_33([3, 1, 3])

False

## PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [129]:
def paper_doll(text): 
    newword=''
    for letter in text:
        newword  = newword + letter *3
    return newword

In [130]:
paper_doll('Hello')

'HHHeeellllllooo'

In [131]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

## BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [138]:
def blackjack(a,b,c):
    s=a+b+c
    if s<=21:
        return s
    elif s>21 and (a==11 or b==11 or c==11):
        return s-10
    elif s>21:
        return 'BUST'

In [139]:
blackjack(5,6,7)

18

In [140]:
blackjack(9,9,9)

'BUST'

In [141]:
blackjack(9,9,11)

19

## SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14