# First Assignment : Simple Arithmetic

In [3]:
'Hello'

'Hello'

In [4]:
"World"

'World'

In [5]:
'This is also a string'

'This is also a string'

In [6]:
"I am going to run this"

'I am going to run this'

In [8]:
print("Hello World 1")
print("Hello world 2")

Hello World 1
Hello world 2

In [11]:
print('hello \tworld')

hello 	world

In [12]:
mystring ="Hello World"

In [13]:
mystring

'Hello World'

In [66]:
mystring[-2]

'j'

In [15]:
mystring[-1]

'd'

In [16]:
mystring[9] 
#Starts reading from back

'l'

In [17]:
mystring

'Hello World'

In [18]:
mystring='abcdefghijk'

In [19]:
mystring

'abcdefghijk'

In [20]:
mystring[2]

'c'

In [21]:
mystring[2:]

'cdefghijk'

In [22]:
mystring[:4]

'abcd'

In [23]:
mystring[:3]

'abc'

In [24]:
mystring[1:6]

'bcdef'

In [25]:
mystring

'abcdefghijk'

In [26]:
mystring[4:7]

'efg'

In [27]:
mystring[::2]

'acegik'

In [28]:
mystring[::3]

'adgj'

In [29]:
mystring[::-1]

'kjihgfedcba'

In [30]:
x='Hello World'

In [31]:
x.upper()

'HELLO WORLD'

In [32]:
x.lower()

'hello world'

In [33]:
x.split()

['Hello', 'World']

In [35]:
print('The {0} {1} {2}'.format('fox','brown','quick'))

The fox brown quick

In [36]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [37]:
print('The {0} {1} {0}'.format('fox','brown','quick'))

The fox brown fox

In [38]:
print('The {1} {1} {1}'.format('fox','brown','quick'))

The brown brown brown

In [42]:
result = 100/777
result

0.1287001287001287

In [43]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

Float formatting follows "{Value:width.precision f}"

In [44]:
x= 75/23
x

3.260869565217391

In [45]:
print("The result was {r:1.3f}".format(r=x))

The result was 3.261

In [46]:
print("The result was {r:10.3f}".format(r=x))

The result was      3.261

In [47]:
print("The result was {r:1.6f}".format(r=x))

The result was 3.260870

In [48]:
name="Surekha"

In [49]:
print(f'Hello this is {name}')

Hello this is Surekha

FString Literals

In [50]:
name='sam'
age = 3
print(f'{name} is {age} years old')

sam is 3 years old

# Lists

In [51]:
my_lists= [1,2,3]

In [52]:
my_list = ['STRING',100,23.2]
my_list

['STRING', 100, 23.2]

In [53]:
len(my_list)

3

In [55]:
list1=['one','two','three']
list1

['one', 'two', 'three']

In [56]:
list2=['four','five']
list2

['four', 'five']

In [57]:
list3= list1+list2

In [58]:
list3

['one', 'two', 'three', 'four', 'five']

In [59]:
list3[0]="ONE_ALL_CAPS"

In [60]:
list3

['ONE_ALL_CAPS', 'two', 'three', 'four', 'five']

Append Method

In [61]:
list3.append('six')

In [62]:
list3

['ONE_ALL_CAPS', 'two', 'three', 'four', 'five', 'six']

In [63]:
list3.append('seven')

Remove/pop an element from the list

In [64]:
list3.pop()

'seven'

In [65]:
list3

['ONE_ALL_CAPS', 'two', 'three', 'four', 'five', 'six']

In [68]:
popped_item = list3.pop()
popped_item

'six'

In [69]:
list3.pop(0)

'ONE_ALL_CAPS'

In [70]:
list3

['two', 'three', 'four', 'five']

SORT

In [87]:
num_list=[4,2,5,7,8,9,10]

In [88]:
sorted_list = num_list.sort()

In [89]:
sorted_list

In [90]:
type(sorted_list)

NoneType

In [91]:
num_list.sort()

In [93]:
num_list

[2, 4, 5, 7, 8, 9, 10]

num_list.reverse()

In [96]:
num_list.reverse()
num_list

[10, 9, 8, 7, 5, 4, 2]

# Dictionaries

In [97]:
dict1={'key1':'value1','key2':'value2'}
#Prices in a stroe

In [98]:
dict1

{'key1': 'value1', 'key2': 'value2'}

In [99]:
dict1.keys()

dict_keys(['key1', 'key2'])

In [102]:
prices_lookup={'apple':2.99,'Oranges':1.99,'milk':3.99}

In [103]:
prices_lookup

{'apple': 2.99, 'Oranges': 1.99, 'milk': 3.99}

In [104]:
prices_lookup['apple']

2.99

In [105]:
d={'num':123,'num_list':[0,1,2],'num_dict':{'inside dict':100}}

In [106]:
d.keys()

dict_keys(['num', 'num_list', 'num_dict'])

In [108]:
d['num_list']

[0, 1, 2]

In [109]:
d['num_dict']['inside dict']

100

In [110]:
d['num_list'][2]='A'

In [111]:
d

{'num': 123, 'num_list': [0, 1, 'A'], 'num_dict': {'inside dict': 100}}

In [112]:
d['num_list'][2]=5

In [113]:
d

{'num': 123, 'num_list': [0, 1, 5], 'num_dict': {'inside dict': 100}}

In [114]:
dd={'n1':125,'n2':['a','b','c'],'n3':{'n3key':200}}

In [115]:
dd

{'n1': 125, 'n2': ['a', 'b', 'c'], 'n3': {'n3key': 200}}

In [120]:
dd['n2'][2].upper()

'C'

In [121]:
d2 = {'k1':100,'k2':200}
d2

{'k1': 100, 'k2': 200}

In [122]:
d2['k3']=300
d2

{'k1': 100, 'k2': 200, 'k3': 300}

In [123]:
d2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [124]:
d2.values()

dict_values([100, 200, 300])

In [125]:
d2.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

# Tuples

In [135]:
t1= (1,2,3)

In [136]:
l1=[1,2,3]

In [137]:
t1

(1, 2, 3)

In [138]:
l1

[1, 2, 3]

In [139]:
type(t1)

tuple

In [140]:
type(l1)

list

In [141]:
t2=('one',2)

In [142]:
t[0]

1

In [143]:
t[-1]

3

In [144]:
t3=('a','a','a','b')

In [145]:
t3.count('a')

3

In [147]:
t3.index('a') 
#returns the very first index when it encounters 'a'

0

In [148]:
mylist=['new',2,3]

In [149]:
mylist[0]='NEW'

In [150]:
t[0]='NEW'

TypeError: 'tuple' object does not support item assignment

# SETS

In [151]:
myset =set()

In [152]:
myset

set()

In [153]:
myset.add(1)

In [154]:
myset

{1}

In [155]:
myset.add(2)
myset

{1, 2}

In [157]:
myset.add(2)
myset

{1, 2}

In [158]:
mylist = {1,1,2,2,2,3,3,4,4,4,5,5,5,5}

In [159]:
set(mylist)

{1, 2, 3, 4, 5}

# Boolean

In [160]:
True

True

In [161]:
true

NameError: name 'true' is not defined

In [162]:
False

False

In [163]:
false

NameError: name 'false' is not defined

In [164]:
type(False)

bool

In [165]:
 1 > 2

False

In [166]:
1 ==1

True

In [167]:
b = None

In [168]:
b